/*
Edgaras Steponaitis Práctica 4
*/

p{
    color: blue;
}

pre{
    color: rgb(243, 114, 183);
    background-color: rgb(34, 34, 10);
}

h1{
    background-color: rgba(255, 6, 6, 0.72);
    color: white;

border: solid;
border-radius: 20px;
padding: 20px;
text-align: center;
}

h3{
    text-align: center;
}

body{
    background-color: beige;
}
